<a href="https://colab.research.google.com/github/ksydata/Algorithm_DataStructure/blob/main/%5BMAIN%5D%20AlgorithmCodingTest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import random
from typing import *

#### 10 ~ 99 사이의 난수 n개 생성하되, 13이 나오면 중단하기

In [3]:
n = int( input("난수의 개수 입력: ") )

for _ in range(n):
  # 0부터 n(인풋값)번 반복하되, 반복할 변수 지정 안함

  r = random.randint(10, 99)
    # 10 ~ 99까지 랜덤한 정수를 난수로 생성하여 r에 저장
  print(r, end = " ")
    # r을 출력하되, 마지막 출력값에 공백 생성

  if r == 13:
    # r이 13일 때,
    print("\n프로그램을 중단함")
    break
      # 사후판단 반복문 형태

  else:
    print("\n난수생성을 종료함")

난수의 개수 입력: 55
80
난수생성을 종료함
49
난수생성을 종료함
85
난수생성을 종료함
90
난수생성을 종료함
46
난수생성을 종료함
96
난수생성을 종료함
66
난수생성을 종료함
88
난수생성을 종료함
93
난수생성을 종료함
35
난수생성을 종료함
88
난수생성을 종료함
75
난수생성을 종료함
89
난수생성을 종료함
39
난수생성을 종료함
30
난수생성을 종료함
27
난수생성을 종료함
13
프로그램을 중단함

#### 1부터 n까지 정수의 합 구하기(n값은 양수만 입력 받기)

In [7]:
while True:
  # while i <= n:
  # 마지막 반복 루프에서 i가 n+1(카운터용 변수)보다 작거나 같으면 중단
  n = int( input("n값 입력 : ") )
  if n > 0:
    break
    # n이 0보다 커질 때까지 반복하고 그렇지 않으면 중단

n값 입력 : 9

In [8]:
sum: int = 0
i: int = 0

for i in range(1, n+1):
  sum += i
    # sum에 i를 반복합하며 n번째(카운터용 변수)일 때 종료
  i += 1
    # i의 크기를 0부터 1씩 증가

print(f"1부터 {n}까지 정수의 합은 {sum}입니다.")

1부터 9까지 정수의 합은 45입니다.

#### 가로, 세로 길이가 정수이고 넓이가 area인 직사각형 변의 길이 나열하기

In [10]:
area = int( input("직사각형의 넓이 입력 : "))

for i in range(1, area + 1):
  # 변의 길이(가로, 세로)가 1부터 area까지 1씩 증가할 때

  if i * i > area:
    # 가로i와 세로i의 넓이(곱)가 area(입력값)보다 클 경우
    break
      # [break] 강제 종료
  if area % i:
    # area(직사각형 넓이)가 i로 나누었을 때 "나누어떨어지지 않으면"
    # "i는 변의 길이(약수)가 될 수 없음"
     continue
    # [continue] if 조건문에 해당하지 않으면 for문의 다음 반복 수행,
    # [pass]와의 차이는 나머지 루프 본문을 건너뛰고 조건식으로 돌아간다는 점에 있음
  print(f"{i} * {area // i}")
    # else: i * i == area일 때 i, i를 반환하라는 것과 같은 의미
    # i와 area를 i로 나누었을 때의 몫
    # [else] break문이 실행되지 않았을 때만 실행

직사각형의 넓이 입력 : 50
1 * 50
2 * 25
5 * 10