<a href="https://colab.research.google.com/github/ksydata/Algorithm_DataStructure/blob/main/SortingAlgorithm_SY_231003_231007.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 정렬 알고리즘

1. 리스트에서 가장 큰 값 찾기
  
    flawed(), largest(), alternate()
    
2. 리스트에서 가장 큰 두 수 찾기

In [26]:
import numpy as np
import pandas as pd
import os
from typing import *
import time

### 1.리스트에서 가장 큰 값 찾기
* 적어도 하나의 값을 가지는 리스트 my_list
* 각 값을 my_max와 두 수 비교하여 : **미만 연산자 활용**
* 더 큰 값이 있으면 my_max를 업데이트하여
* 가장 큰 값을 찾는 방식

In [3]:
def flawed(my_list: List) -> int:
  my_max = 0
  for value in my_list:
    if my_max < value:
      my_max = value
    else:
      break
  return my_max

* 크기가 N인 문제 인스턴스에서 flawed()는 미만 연산을 N회 실행

In [7]:
display([3*n for n in range(1, 10, 1)])
flawed(my_list = [3*n for n in range(1, 10, 1)])

[3, 6, 9, 12, 15, 18, 21, 24, 27]

27

* flawed()는 0(my_max)보다 큰 수가 적어도 한 개 있다고 가정한다는 결함이 존재

In [10]:
display([3*n for n in range(-10, -1, 1)])
flawed(my_list = [3*n for n in range(-10, -1, 1)])

[-30, -27, -24, -21, -18, -15, -12, -9, -6]

0

* my_list가 빈 리스트인 경우에도 가장 작은 값으로 설정된 값을 반환한다는 결함이 존재

In [13]:
def flawed2(my_list: List) -> int:
  my_max = float("-inf")
  for value in my_list:
    if my_max < value:
      my_max = value
    else:
      break
  return my_max

In [14]:
display([3*n for n in range(-10, -1, 1)])
flawed2(my_list = [3*n for n in range(-10, -1, 1)])

[-30, -27, -24, -21, -18, -15, -12, -9, -6]

-6

In [15]:
flawed2(my_list = [])

-inf

* 주요 연산 횟수를 계산
* 원소가 없더라도 상관없는 리스트 my_list의 값 중
* 하나의 값을 my_max로 선택한 뒤
* 나머지 값들이 모두 my_max보다 큰지 확인하는 방식

In [16]:
# SY's Trial
def largest(my_list: List) -> int:
  if len(my_list) > 0:
    my_max = my_list[0]
    for value in my_list[1:]:
      if my_max < value:
        my_max = value
      else:
        break
  else:
    return None
  return my_max

In [17]:
largest(my_list = [3*n for n in range(-10, -1, 1)])

-6

In [18]:
largest(my_list = [])

* 빈 리스트로 largest()나 max()를 수행하면 런타임 예외 오류 발생(적어도 값이 하나 이상인 my_list이어야 한다는 전제)

In [19]:
# Solution
def largest2(my_list):
  my_max = my_list[0]
  for index in range(1, len(my_list), 1):
    if my_max < my_list[index]:
      my_max = my_list[index]
  return my_max

In [ ]:
largest2(my_list = [])
# IndexError: list index out of range

* my_list에서 가장 **큰 값의 위치**를 찾는 접근 방식
* my_list에 있는 각 값을 반복적으로 확인하여 리스트 내 다른 값들보다 크거나 같은지 비교


* my_list를 순회할 때, 각 값 value는 가장 큰 값이 될 수 있다.
* value가 다른 값 item보다 작으면(if value < item) 순회를 멈추고(break)
* value가 가장 큰 값이 아닌 것으로 기록한다. (value_is_largest = False)
* value_is_largest = True이면 value가 my_list에서 최댓값이므로 value를 반환한다.
* my_list가 빈 리스트이면 None을 반환한다. (IndexError: list index out of range에 대응)

In [37]:
def alternate(my_list: List):
  for value in my_list:
    value_is_largest = True

    for item in my_list:
      if value < item:
        value_is_largest = False
        break

    if value_is_largest:
      # value_is_largest = True(else)
      return value

  return None

* value에 대한 for loop은 최댓값을 찾으면 중단된다는 점

In [38]:
display([3*n for n in range(-10, -1, 1)])
alternate(my_list = [3*n for n in range(-10, -1, 1)])

[-30, -27, -24, -21, -18, -15, -12, -9, -6]

-6

In [39]:
alternate(my_list = [])

* 최상의 경우 : 리스트가 내림차순 정렬된 경우 미만 연산이 원소 수만큼 실행된다. **N회**
* 리스트의 모든 요소를 한 번씩 확인하는 작업은 입력 크기에 비례하여 진행된다. (선형 탐색)

In [46]:
before = time.process_time()
alternate(my_list = [9, 5, 2, 1, 3, 4])
after = time.process_time()

print(after - before)

0.00011376699999843254

* 최악의 경우 : 리스트가 오름차순 정렬된 경우 모든 값을 순회한다. (N^2 + 3N - 2)/2 **O(N^2)**
* 이중 반복문을 사용하여 리스트의 모든 요소 쌍을 확인하는 작업은 입력 크기의 제곱에 비례한다.
* 현재 데이터의 상태와 상관없이 무조건 모든 원소를 비교하교 위치를 바꾼다.

In [47]:
before = time.process_time()
alternate(my_list = [1, 2, 3, 4, 5, 9])
after = time.process_time()

print(after - before)

0.00014050400000087393

In [60]:
def alternate2(my_list: List):
  my_list.sort(reverse = True)
  # my_list.sort(key = lambda x: x[1], reverse = True)
  print(my_list)
  for value in my_list:
    value_is_largest = True

    for item in my_list:
      if value < item:
        value_is_largest = False
        break

    if value_is_largest:
      # value_is_largest = True(else)
      return value

  return None

In [61]:
before = time.process_time()
alternate2(my_list = [1, 2, 3, 4, 5, 9])
after = time.process_time()

print(after - before)

[9, 5, 4, 3, 2, 1]
0.0009332370000016965

### 2.리스트에서 가장 큰 두 수 찾기